<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="firstName">Enter username: </label>
    <input type="text" th:field="*{username}" id="firstName">
    <br/>

    <label for="lastName">Enter lastName: </label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br/>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <br/>

    <label for="email">Enter password: </label>
    <input type="text" th:field="*{password}" id="password">
    <br/>

    <input type="submit" value="Create!"/>

</form>

<br>
<form action="#" th:action="@{/logout}" method="get">
    <input type="submit" value="log out"/>
</form>

</body>
</html>